__pycache__/
.pytest_cache/
*.pyc
venv/
venv312/
neorunner_venv/
.cache/
logs/
*.log
.DS_Store
backups/
crash-reports/
config.json
server.properties
eula.txt
logs/
*.log
*.log.gz
logs/
backups/
crash-reports/
.eula.txt
world/
backups/
crash-reports/
neorunner.egg-info/
*.patch
