[Unit]
Description=NeoRunner Minecraft Server
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=services
WorkingDirectory=/home/services
ExecStart=/home/services/neorunner_env/bin/python3 /home/services/run.py run
Restart=always
RestartSec=10
StandardOutput=append:/home/services/live.log
StandardError=append:/home/services/live.log
Environment="PATH=/home/services/neorunner_env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target
